## 작업 1유형

In [40]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

### Question1

성별이 Male인 환자들의 age의 평균값은 ?

In [41]:
def chk(x):
  for c in x:
    if not c.isdigit():
      x = x.replace(c, '')
    else:
      pass
  return x

In [42]:
df.age = df.age.apply(chk)

In [43]:
df.age = df.age.astype('float')

In [19]:
print(df[(df['gender'] == 'Male')].mean().age)

44.68623481781376

<ipython-input-19-aaa19112ab30>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df[(df['gender'] == 'Male')].mean().age)

### Question2

bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [20]:
import numpy as np

In [23]:
mead = df.bmi.median()

In [24]:
def chg_na(x):
  if np.isnan(x):
    return mead
  else:
    return x

In [25]:
df.bmi = df.bmi.apply(chg_na)

In [26]:
print(round(df.bmi.mean(), 3))

29.166

### Question3

bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

! 다시 한 번 확인하기

직전 행의 결측치를 채우는 메소드는 `fiilna`이며, 방식은 `ffill`임!

In [28]:
fi = df['bmi'].fillna(method = 'ffill')
result = round(fi.mean(),3)
print(result)

29.188

### Question4

bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

! 다시 한 번 확인하기

In [45]:
mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
dic = {x:y for x,y in mean.items()} # 결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환

In [46]:
idx = df.loc[df.bmi.isnull(),['age','bmi']].index

In [48]:
df.loc[df.bmi.isnull(),'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x]) # 결측치 매핑

In [50]:
result = df.bmi.mean()
print(round(result, 3))

29.263

### Question5

avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [52]:
df5 = df[(df.avg_glucose_level >= 200)]

In [53]:
df5['avg_glucose_level'] = 199

<ipython-input-53-143ad2f3367e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['avg_glucose_level'] = 199

In [55]:
print(round(df5[(df5.stroke == 1)].avg_glucose_level.mean(),3))

199.0

## 작업 1유형 다른 데이터

In [72]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Question6

Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [64]:
top400 = df.sort_values('Attack', ascending = False).head(400)

In [65]:
top400_num = top400[(top400.Legendary == 1)].Legendary.count()

In [77]:
bottom400 = df.sort_values('Attack', ascending = False).tail(400)

In [78]:
bottom400_num = bottom400[(bottom400.Legendary == 1)].Legendary.count()

In [79]:
print(top400_num - bottom400_num)

57

### Question7

Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [87]:
print(df.groupby('Type 1').mean().Total.sort_values(ascending = False).index[2])

Flying

<ipython-input-87-8718703a3216>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df.groupby('Type 1').mean().Total.sort_values(ascending = False).index[2])

### Question8

결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [97]:
df = df.dropna(axis = 0)

In [105]:
df.shape[0] * 0.6

248.39999999999998

In [106]:
df2 = df.loc[:249,:]

In [110]:
print(df2.Defense.quantile(0.25))

50.0

### Question9

Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [120]:
fire_attack = df[(df['Type 1'] == 'Fire')].Attack.mean()

In [121]:
df9 = df[((df['Type 1'] == 'Water') & (df.Attack >= fire_attack))]

In [122]:
print(df9.shape[0])

15

### Question10

각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [132]:
df10 = df.groupby('Generation', as_index = False)[['Speed', 'Defense']].mean()
df10['difference'] = abs(df10['Speed'] - df10['Defense'])
df10 = df10.sort_values('difference', ascending = False)

In [133]:
df10

   Generation      Speed    Defense  difference
1           2  64.709091  80.781818   16.072727
5           6  71.000000  83.740000   12.740000
3           4  73.208955  83.044776    9.835821
2           3  68.865854  77.768293    8.902439
0           1  71.500000  77.141026    5.641026
4           5  72.621951  78.024390    5.402439

In [134]:
print(int(df10.head(1).values[0][0]))

2

---

## 작업 2유형

In [135]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

In [136]:
print(train.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [137]:
x_train = train[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']]
x_test = test[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']]

In [138]:
y_train = train[['id', 'stroke']]

In [145]:
print(x_train.isna().sum())
print(x_test.isna().sum())
print(y_train.isna().sum())

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64
id        0
stroke    0
dtype: int64

In [140]:
from sklearn.impute import SimpleImputer

In [141]:
si = SimpleImputer(strategy = 'most_frequent')

In [142]:
x_col = x_train.columns

In [143]:
x_train_data = si.fit_transform(x_train)
x_test_data = si.fit_transform(x_train)

x_train = pd.DataFrame(columns = x_col, data = x_train_data)
x_test = pd.DataFrame(columns = x_col, data = x_test_data)

In [146]:
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   object
 2   hypertension       1137 non-null   object
 3   heart_disease      1137 non-null   object
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   object
 8   bmi                1137 non-null   object
 9   smoking_status     1137 non-null   object
dtypes: object(10)
memory usage: 89.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   object
 2   hypertension       1137 non-null   object
 3   heart_disease      1137 non-null   object
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   object
 8   bmi                1137 non-null   object
 9   smoking_status     1137 non-null   object
dtypes: object(10)
memory usage: 89.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1137 non-null   int64
 1   stroke  1137 non-null   int64
dtypes: int64(2)
memory usage: 17.9 KB
None

In [147]:
from sklearn.preprocessing import LabelEncoder

In [148]:
le = LabelEncoder()

In [149]:
x_col = x_train.columns

for col in x_col:
  x_train[col] = le.fit_transform(x_train[col])
  x_test[col] = le.fit_transform(x_test[col])

In [150]:
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   int64
 1   age                1137 non-null   int64
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   int64
 5   work_type          1137 non-null   int64
 6   Residence_type     1137 non-null   int64
 7   avg_glucose_level  1137 non-null   int64
 8   bmi                1137 non-null   int64
 9   smoking_status     1137 non-null   int64
dtypes: int64(10)
memory usage: 89.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   int64
 1   age                1137 non-null   int64
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   int64
 5   work_type          1137 non-null   int64
 6   Residence_type     1137 non-null   int64
 7   avg_glucose_level  1137 non-null   int64
 8   bmi                1137 non-null   int64
 9   smoking_status     1137 non-null   int64
dtypes: int64(10)
memory usage: 89.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1137 non-null   int64
 1   stroke  1137 non-null   int64
dtypes: int64(2)
memory usage: 17.9 KB
None

In [151]:
from sklearn.tree import DecisionTreeClassifier

In [152]:
dtc = DecisionTreeClassifier()
model = dtc.fit(x_train, y_train)
predict1 = model.predict(x_test)

In [154]:
y_col = y_train.columns
submit = pd.DataFrame(data = predict1, columns = y_col)
display(submit.head(5))

      id  stroke
0   1192       0
1     77       0
2  59200       0
3  24905       1
4  24257       0

In [155]:
submit.to_csv('result.csv')