<a href="https://colab.research.google.com/github/ssook1222/bigdata-analysist-certificate/blob/master/bigdata-analysist-certificate/task1/task1_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 포켓몬 정보 데이터

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Question 61

Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [2]:
df[df['Legendary']== True].HP.mean() - df[df['Legendary']== False] .HP.mean()

25.55614861329147

### Question 62

Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [5]:
df['Type 2'].value_counts().head(1).index[0]

'Flying'

### Question 63

가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [9]:
df[df['Type 1'] == df['Type 1'].value_counts().head(1).index[0]].Attack.mean() / df[df['Type 1'] == df['Type 1'].value_counts().head(1).index[0]].Defense.mean()

1.0165238678090576

### Question 64

포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [25]:
df[(df['Legendary']== True)].Generation.value_counts().head(1).index[0]

3

### Question 65

‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [66]:
df_corr = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr()
df_corr = df_corr[df_corr != 1]
df_corr.max().sort_values(ascending = False).head(1).values[0]
df_test = df_corr[df_corr == df_corr.max().sort_values(ascending = False).head(1).values[0]]
df_test[df_test.notnull()].sum().sort_values(ascending = False).head(2)

Defense    0.510747
Sp. Def    0.510747
dtype: float64

### Question 66

각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [74]:
df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3).Attack.mean()

19.5

### Question 67

각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [75]:
df.sort_values(['Generation', 'Attack']).groupby('Generation').tail(5).Attack.mean()

157.23333333333332

### Question 68

가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [80]:
df[['Type 1', 'Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

### Question 69

한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [83]:
(df[['Type 1', 'Type 2']].value_counts() == 1).sum()

39

### Question 70

한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

다시 한 번 풀어보기!

In [85]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]

    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64