<a href="https://colab.research.google.com/github/ssook1222/bigdata-analysist-certificate/blob/master/bigdata-analysist-certificate/actual_test/4th_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 작업 1유형

In [178]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

### 1-1

Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [179]:
def chk(x):
  for c in x:
    if not c.isdigit() and c!='.':
      x = x.replace(c, '')
  return x

In [180]:
df['Temperature'] = df.Temperature.apply(chk)

In [181]:
df['Temperature'] = df.Temperature.astype(float)

In [182]:
num = round(df.quantile(0.75).Temperature - df.quantile(0.25).Temperature, 2)

<ipython-input-182-452918c5b4ff>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  num = round(df.quantile(0.75).Temperature - df.quantile(0.25).Temperature, 2)

In [183]:
print(num)

27.48

---

In [184]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

### 1-2

Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [185]:
df2 = df.copy()
df2['rate'] = df2['Likes'] / df2['Comments']

num = int(df2[(df2.rate >= 20) & (df2.Keyword == 'minecraft')].mean().Views)
print(num)

1789084

<ipython-input-185-633029119234>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  num = int(df2[(df2.rate >= 20) & (df2.Keyword == 'minecraft')].mean().Views)

---

In [186]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### 1-3

date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [187]:
import datetime as dt

In [188]:
df2 = df.copy()

In [189]:
df2['date_added'] = pd.to_datetime(df2.date_added)

In [190]:
df2 = df2[(df2.country == 'United Kingdom')]
df2 = df2[((df2.date_added.dt.year == 2018) & (df2.date_added.dt.month == 1))]
print(len(df2))

6

---

## 작업 2유형

In [191]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

### 패키지 다 가져오기

In [192]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

In [193]:
from sklearn.tree import DecisionTreeClassifier

### 데이터 가져온 후 분류

In [194]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

In [195]:
train.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1',
       'Segmentation'],
      dtype='object')

In [196]:
x_train = train[['Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1']]

x_test = test[['Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1']]

In [197]:
y_train = train[['ID', 'Segmentation']]

### 데이터 전처리

In [198]:
print(x_train.isna().sum())
print(x_test.isna().sum())

Gender               0
Ever_Married        96
Age                  0
Graduated           51
Profession          64
Work_Experience    513
Spending_Score       0
Family_Size        192
Var_1               50
dtype: int64
Gender               0
Ever_Married        22
Age                  0
Graduated           16
Profession          23
Work_Experience    142
Spending_Score       0
Family_Size         68
Var_1               12
dtype: int64

In [199]:
si = SimpleImputer(strategy = 'most_frequent')

In [200]:
null_col = ['Ever_Married', 'Graduated', 'Profession', 'Work_Experience', 'Family_Size', 'Var_1']

In [201]:
x_columns = x_train.columns
x_train[null_col] = si.fit_transform(x_train[null_col])
x_test[null_col] = si.fit_transform(x_test[null_col])

<ipython-input-201-a9483fcc6a1a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[null_col] = si.fit_transform(x_train[null_col])
<ipython-input-201-a9483fcc6a1a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[null_col] = si.fit_transform(x_test[null_col])

In [202]:
display(x_train.info())
display(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4881 non-null   object
 1   Ever_Married     4881 non-null   object
 2   Age              4881 non-null   int64
 3   Graduated        4881 non-null   object
 4   Profession       4881 non-null   object
 5   Work_Experience  4881 non-null   object
 6   Spending_Score   4881 non-null   object
 7   Family_Size      4881 non-null   object
 8   Var_1            4881 non-null   object
dtypes: int64(1), object(8)
memory usage: 343.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1542 non-null   object
 1   Ever_Married     1542 non-null   object
 2   Age              1542 non-null   int64
 3   Graduated        1542 non-null   object
 4   Profession       1542 non-null   object
 5   Work_Experience  1542 non-null   object
 6   Spending_Score   1542 non-null   object
 7   Family_Size      1542 non-null   object
 8   Var_1            1542 non-null   object
dtypes: int64(1), object(8)
memory usage: 108.5+ KB

None

In [203]:
le_col = ['Gender', 'Ever_Married', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1']

In [204]:
le = LabelEncoder()

In [205]:
for col in le_col:
  x_train[col] = le.fit_transform(x_train[col])
  x_test[col] = le.fit_transform(x_test[col])

<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-205-2321bcabdbd5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-205-2321bcabdbd5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])

In [206]:
display(x_train.info())
display(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           4881 non-null   int64
 1   Ever_Married     4881 non-null   int64
 2   Age              4881 non-null   int64
 3   Graduated        4881 non-null   int64
 4   Profession       4881 non-null   int64
 5   Work_Experience  4881 non-null   int64
 6   Spending_Score   4881 non-null   int64
 7   Family_Size      4881 non-null   int64
 8   Var_1            4881 non-null   int64
dtypes: int64(9)
memory usage: 343.3 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           1542 non-null   int64
 1   Ever_Married     1542 non-null   int64
 2   Age              1542 non-null   int64
 3   Graduated        1542 non-null   int64
 4   Profession       1542 non-null   int64
 5   Work_Experience  1542 non-null   int64
 6   Spending_Score   1542 non-null   int64
 7   Family_Size      1542 non-null   int64
 8   Var_1            1542 non-null   int64
dtypes: int64(9)
memory usage: 108.5 KB

None

In [207]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            4881 non-null   int64
 1   Segmentation  4881 non-null   object
dtypes: int64(1), object(1)
memory usage: 76.4+ KB
None

In [208]:
y_train.Segmentation.value_counts()

D    1388
A    1244
C    1143
B    1106
Name: Segmentation, dtype: int64

In [209]:
def chg_num(x):
  if x == 'A':
    return 1
  elif x == 'B':
    return 2
  elif x == 'C':
    return 3
  else:
    return 4

def chg_str(x):
  if x == 1:
    return 'A'
  elif x == 2:
    return 'B'
  elif x == 3:
    return 'C'
  else:
    return 'D'

In [210]:
y_train['Segmentation'] = y_train.Segmentation.apply(chg_num)

<ipython-input-210-9a097640fdf7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train['Segmentation'] = y_train.Segmentation.apply(chg_num)

### 데이터 모델링

In [211]:
dtc = DecisionTreeClassifier()
model = dtc.fit(x_train, y_train)
predict1 = model.predict(x_test)

In [212]:
submit_raw = pd.DataFrame(data = predict1, columns = y_train.columns)

### 데이터 제출하기

In [213]:
submit = submit_raw.copy()

In [214]:
submit['Segmentation'] = submit_raw.Segmentation.apply(chg_str)

In [215]:
display(submit)

          ID Segmentation
0     459395            D
1     459403            C
2     465083            C
3     460948            B
4     459421            D
...      ...          ...
1537  463292            C
1538  465447            C
1539  465242            A
1540  460425            A
1541  461037            C

[1542 rows x 2 columns]

In [216]:
submit.to_csv('result.csv')

## 작업 3유형

In [217]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

이 데이터를 바탕으로, 학생들의 학과와 성별이 서로 독립적인지 여부를 확인하기 위해 카이제곱 독립성 검정을 실시 하려한다.

In [218]:
import scipy.stats

In [227]:
from scipy.stats import chi2_contingency # 카이제곱 검정 독립성 검정 시 사용

In [ ]:
dir(scipy.stats)

### 3-1-a

학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [224]:
print(round(df.groupby('학과').학번.count().mean(),3))

170.333

### 3-1-b

카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

###### 교차검증표를 만들고 이를 기반으로 통계량을 구함

! 다시 한 번 풀어보기

In [229]:
crosstab = pd.crosstab(df['학과'], df['성별'])
s, p, _, _ = chi2_contingency(crosstab)

round_s = round(s,3)
print(round_s)

5.646

### 3-1-c

카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라

In [231]:
round_p = round(p, 3)
print(round_p)
if round_p <= 0.05:
  print('대립가설')
else:
  print('귀무가설')

0.342
귀무가설

---

어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다.         
이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.

### 3-1-a

검정 통계량을 소숫점 이하 3자리에서 구하시오

! 다시 한 번 풀어보기

In [232]:
import numpy as np
n = 100
p_hat = 0.6
p = 0.5
alpha = 0.05

# 검정 통계량 계산
z = round((p_hat - p) / np.sqrt(p * (1 - p) / n),5)
print(z)

2.0

### 3-1-b

pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을 출력하라

In [233]:
from scipy.stats import norm
p_value = round(1 - norm.cdf(z),3) # 표준 정규에 맞는지 계산

In [234]:
if p_value < 0.05:
  print('대립가설')
else:
  print('귀무가설')

대립가설