<a href="https://colab.research.google.com/github/ssook1222/bigdata-analysist-certificate/blob/master/bigdata-analysist-certificate/second/task1/task1_try2(7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 포켓몬 정보 데이터

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Question 61

Legendary 컬럼은 전설포켓몬 유무를 나타낸다. 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [5]:
df[(df.Legendary == True)].mean().HP

<ipython-input-5-73594fbf843e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[(df.Legendary == True)].mean().HP

92.73846153846154

In [6]:
legend = df[(df.Legendary == True)].mean().HP
not_legend = df[(df.Legendary != True)].mean().HP

print(legend - not_legend)

25.55614861329147

<ipython-input-6-1f2e1f6e00b9>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  legend = df[(df.Legendary == True)].mean().HP
<ipython-input-6-1f2e1f6e00b9>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  not_legend = df[(df.Legendary != True)].mean().HP

### Question 62

Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [11]:
print(df.value_counts('Type 2').head(1).index[0])

Flying

### Question 63

가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [14]:
df[(df['Type 1'] == chk63)].mean().Attack

<ipython-input-14-16d825d565d1>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[(df['Type 1'] == chk63)].mean().Attack

74.15178571428571

In [16]:
chk63 = df.value_counts('Type 1').head(1).index[0]

mean_attack = df[(df['Type 1'] == chk63)].mean().Attack
mean_Defense = df[(df['Type 1'] == chk63)].mean().Defense

print(mean_attack/mean_Defense)

1.0165238678090576

<ipython-input-16-1e14d9096122>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_attack = df[(df['Type 1'] == chk63)].mean().Attack
<ipython-input-16-1e14d9096122>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_Defense = df[(df['Type 1'] == chk63)].mean().Defense

### Question 64

포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [19]:
df64 = df[(df.Legendary == True)]
print(df64.value_counts('Generation').head(1).index[0])

3

### Question 65

‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [22]:
df65 = df[['HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed']]

In [39]:
df65_test = df65.corr()[(df65.corr() != 1)]
df65_raw = df65_test.max().sort_values(ascending = False)
print(list(df65_raw.head(2).index[:2]), df65_raw.head(1).values[0])

['Defense', 'Sp. Def'] 0.5107465890885571

### Question 66

각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [46]:
print(df.sort_values(['Generation', 'Attack']).groupby('Generation', as_index = False).head(3).mean().Attack)

19.5

<ipython-input-46-a3c20b89c582>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.sort_values(['Generation', 'Attack']).groupby('Generation', as_index = False).head(3).mean().Attack)

### Question 67

각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [47]:
print(df.sort_values(['Generation', 'Attack'], ascending = False).groupby('Generation', as_index = False).head(5).mean().Attack)

157.23333333333332

<ipython-input-47-26f06ff8bbd7>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.sort_values(['Generation', 'Attack'], ascending = False).groupby('Generation', as_index = False).head(5).mean().Attack)

### Question 68

가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

! 다시 한 번 풀어보기

In [54]:
result = df[['Type 1','Type 2']].value_counts().head(1)
print(result)

Type 1  Type 2
Normal  Flying    24
dtype: int64

### Question 69

한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

! 다시 한 번 풀어보기

In [60]:
df69 = df[['Type 1','Type 2']].value_counts()
chk = df69[df69==1]
print(len(chk))

39

### Question 70

한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [61]:
chk = df69[df69==1]
print(chk)

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
dtype: int64

In [69]:
ans = []

for c in chk.index:
  tmp = df[(df['Type 1'] == c[0]) & (df['Type 2'] == c[1])]
  ans.append(tmp)

! 이 부분 다시 보기

In [73]:
result = pd.concat(ans).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64