<a href="https://colab.research.google.com/github/ssook1222/bigdata-analysist-certificate/blob/master/bigdata-analysist-certificate/first/task2/king_county.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 킹카운티 주거지 가격예측문제 데이터

### 패키지 다 가져오기

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

### 데이터 다 가져오기

In [3]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_train.csv")
x_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_test.csv")

### 데이터 전처리

#### 결측치 확인

In [5]:
print(x_train.isna().sum())
print(x_test.isna().sum())

ID               0
id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64
ID               0
id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

#### 데이터 타입 확인

In [6]:
print(x_train.info())
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             17290 non-null  int64
 1   id             17290 non-null  int64
 2   date           17290 non-null  object
 3   bedrooms       17290 non-null  int64
 4   bathrooms      17290 non-null  float64
 5   sqft_living    17290 non-null  int64
 6   sqft_lot       17290 non-null  int64
 7   floors         17290 non-null  float64
 8   waterfront     17290 non-null  int64
 9   view           17290 non-null  int64
 10  condition      17290 non-null  int64
 11  grade          17290 non-null  int64
 12  sqft_above     17290 non-null  int64
 13  sqft_basement  17290 non-null  int64
 14  yr_built       17290 non-null  int64
 15  yr_renovated   17290 non-null  int64
 16  zipcode        17290 non-null  int64
 17  lat            17290 non-null  float64
 18  long           17290 non-null  float64
 19  sqft_living15  17290 non-null  int64
 20  sqft_lot15     17290 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 2.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             4323 non-null   int64
 1   id             4323 non-null   int64
 2   date           4323 non-null   object
 3   bedrooms       4323 non-null   int64
 4   bathrooms      4323 non-null   float64
 5   sqft_living    4323 non-null   int64
 6   sqft_lot       4323 non-null   int64
 7   floors         4323 non-null   float64
 8   waterfront     4323 non-null   int64
 9   view           4323 non-null   int64
 10  condition      4323 non-null   int64
 11  grade          4323 non-null   int64
 12  sqft_above     4323 non-null   int64
 13  sqft_basement  4323 non-null   int64
 14  yr_built       4323 non-null   int64
 15  yr_renovated   4323 non-null   int64
 16  zipcode        4323 non-null   int64
 17  lat            4323 non-null   float64
 18  long           4323 non-null   float64
 19  sqft_living15  4323 non-null   int64
 20  sqft_lot15     4323 non-null   int64
dtypes: float64(4), int64(16), object(1)
memory usage: 709.4+ KB
None

In [11]:
def chk(x):
  return x.replace('T000000', '')

x_train['date'] = x_train.date.apply(chk)
x_test['date'] = x_test.date.apply(chk)

### 데이터 모델링하기

In [13]:
dtr = DecisionTreeRegressor()
model = dtr.fit(x_train, y_train)
predicts = model.predict(x_test)
print(mean_absolute_error(predicts[:,1], y_test['price']))

27507.811473513764

### 제출하기

In [14]:
result = pd.DataFrame(columns = y_train.columns, data = predicts)

In [15]:
display(result.head(5))
result.to_csv('answer.csv')

        ID     price
0   3194.0  530000.0
1   1785.0  450000.0
2    926.0  458000.0
3  12620.0  580000.0
4  14111.0  500000.0